<footer class="py-16 text-xs font-thin text-ember-gray shrink bg-ember-faint-gray">
  <section class="container flex justify-center mx-auto">
    <p class="flex flex-col items-center md:flex-row space-y-2 md:space-y-0 md:space-x-1">
      <span>Todos los derechos reservados 2023.</span>
      <span>Creado con <i class="fa-solid fa-heart hover:text-ember" /> por <a class="font-bold hover:text-ember" href="http://www.mariocampbell.com.ar" target="_blank" rel="noopener noreferrer">mcmpbll783</a></span>
    </p>
  </section>
</footer>